.card {
    flex-basis: calc(100% / 3 - var(--indent-card));
    margin-top: var(--indent-card);
    margin-left: var(--indent-card);
  
    transition: box-shadow var(--animation);
        &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
      }
      
         &:hover .card__overlay {
        transform: translateY(0);
      }
  }
  
  .card__name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--dark-text-color);
  }
  
  .card__content {
    padding: 20px 24px;
    border: 1px solid var(--card-background-color);
    border-top: none;
  }
  
  .card__filter {
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-text-color);
  }
  
  .card__thumb {
    position: relative;
    overflow: hidden;
  }
  
  .card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform var(--animation);
    background-color: rgba(33, 150, 243, 0.9);
  }
  
  .card__text {
    font-size: 18px;
    color: var(--white-text-color);
    letter-spacing: 0.03em;
    line-height: 1.56;
    backdrop-filter: blur(1px);
  }