footer {
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 72px;
      padding-bottom: 72px;
    }
  }
  
  .footer__conteiner {
    text-align: center;

    @media screen and (min-width: 1200px){
    display: flex;
    text-align: left;
  }
}  
      .footer__group {
        @media screen and (min-width: 1200px) {
      margin-right: 70px;
  }
}
  .footer__logo {
    padding-top: 0;
    margin-bottom: 20px;
  }

  .footer__logo--link {
    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  }
  
  .logo--white {
    color: var(--white-text-color);
  }
  
  .foooter-contact__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  
  .foooter-contact__link {
    font-style: normal;
    line-height: 1.71;
    color: var(--footer-contact-color);
    transition: color var(--animation);
        &:hover,
        &:focus {
      color: var(--accent-color);
    }
  }
  
  .foooter-contact--color {
    color: var(--white-text-color);
  }

  
  .footer-contact--owner{
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-left: 61px;
    padding-right: 74px;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
      padding-left: 0;
    }
  }
  }
  .foooter-contact__group {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }
  
  .owner-links__title {
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 12px;
    margin-bottom: 20px;
  
    color: var(--white-text-color);
  }
  
  .owner-links__list {
    display: flex;
    justify-content: center;
    gap: 10px;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }
  
  .owner-socials__icon {
    fill: var(--white-text-color);
  }
  
  .owner__socials {
    background-color: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  
