.form__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  .form__wrapper {
    position: relative;
    margin-bottom: 10px;
  }
  
  .form__fild {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 42px;
    outline-offset: -1px;
    outline: 1px solid transparent;
    transition: outline-color var(--animation);
  }
  
  .form__fild:focus {
    outline-color: var(--accent-color);
  }
  
  .form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill var(--animation);
    fill: var(--dark-text-color);
  }
  
    .form__fild:focus + .form__icon {
    fill: var(--accent-color);
  }
  
  .form__area {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline-offset: -1px;
    outline: 1px solid transparent;
    transition: outline-color var(--animation);
    margin-bottom: 20px;
  }
  
  .form__area:focus {
    outline-color: var(--accent-color);
  }
  
  .form__area::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }
  
  .form__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
  }
  
  .form__checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid var(--dark-text-color);
    border-radius: 2px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color var(--animation), outline-color var(--animation);
  }
  
  .form__checkbox:focus {
    outline-color: var(--accent-color);
  }
  
  .form__checkbox:checked {
    outline-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E ");
  }
  
  .form__link {
    color: var(--accent-color);
    text-underline-position: under;
  }
  
  .form__btn {
    display: block;
    margin: auto;
    transition: background-color var(--animation);
        &:hover,
        &:focus {
    background-color: var(--btn-active);
  }
  }
  
  
  