header {
    border-bottom: 1px solid #ececec;
  }
  
  .header__coteiner {
    display: flex;
    align-items: center;
  }


.header__icon {
  background-color: transparent;
  border: transparent;
}
  