.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    opacity: 1;
    transition: opacity var(--animation), visibility var(--animation);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    padding: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  
    transition: transform var(--animation);
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
  
  .modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
  }
  
  .modal__btn-close {
    fill: var(--dark-logo-color);
    transition: fill var(--animation);
      &:hover,
      &:focus {
    fill: var(--accent-color);
  }
  }
  
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--dark-text-color);
  }