.navigation__list {
  display: flex;
  gap: 50px;
}

.navigation__item {
    position: relative;
  }

  .navigation__link {
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--animation);

    &--current::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        position: absolute;
        bottom: -1px;
      }

      &--current,
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
  }

