.portfolio-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .portfolio-nav__btn {
    padding: 6px 22px;
    border-radius: 3px;
    background-color: var(--white-background-color);
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-text-color);
  
    transition: background-color var(--animation), color var(--animation);
        &:hover,
        &:focus {
      background-color: var(--accent-color);
      color: var(--white-text-color);
    }
  }
  
  .portfolio-nav__item {
    transition: box-shadow var(--animation);
        &:not(:last-child) {
        margin-right: 8px;
      }
        &:hover,
        &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12);
      }
  }
  