.subscription {
    margin-top: auto;
    margin-left: auto;

    @media screen and (min-width: 1200px) {
      margin-top: 0;
    }
  }
  
  .subscription__title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 12px;
    margin-bottom: 20px;
    color: var(--white-text-color);
  }
  
  .subscription__form {
    align-items: center;
    gap: 12px;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  
  .subscription__field {
    //flex-basis: 358px;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  
  .subscription__email {
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: 0;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  
    color: var(--white-text-color);

    @media screen and (min-width: 768px) {
      display: inline;
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
    }
  }
  
  .subscription__field input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .subscription__btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
